<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TASK.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TASK.Service.Properties.Settings>
            <setting name="TASK_Service_vn_cinvoice_api_ALSService" serializeAs="String">
                <value>http://api.cinvoice.vn/service/iv_v/ALSService.asmx</value>
            </setting>
        </TASK.Service.Properties.Settings>
    </applicationSettings>
</configuration>